<div class="flex justify-content-between align-items-center">
    <div class="col-6">
        <div class="card-select p-3">
            <h1 class="text-center">TIPOS DE PROPIEDAD</h1>
            <div class="flex justify-content-around align-items-center pt-4">
                <div class="text-center">
                    <div><i class="pi pi-home card-select" style="font-size: 4rem; padding: 0.2em"></i></div>
                    <h4>CASAS</h4>
                </div>
                <div class="text-center">
                    <div><i class="pi pi-building card-select" style="font-size: 4rem; padding: 0.2em"></i></div>
                    <h4>DEPARTAMENTOS</h4>
                </div>
                <div class="text-center">
                    <div><i class="pi pi-sitemap card-select" style="font-size: 4rem; padding: 0.2em"></i></div>
                    <h4>TERRENOS</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="flex align-items-center">
            <div class="col-6 flex justify-content-center">
                <p-selectButton [options]="buySellOpts" [(ngModel)]="selectedOpt" class="pb-2"></p-selectButton>
            </div>
            <div class="col-6">
                <p-autoComplete
                    placeholder="Agrega ubicación"
                    class="select-search"
                    [(ngModel)]="locationValue"
                    [suggestions]="filteredLocations"
                    field="name"
                    [dropdown]="true">
                </p-autoComplete>
            </div>
        </div>
        <div class="flex align-items-center">
            <div class="col-6">
                <p-autoComplete
                    placeholder="Filtros"
                    class="select-search"
                    [(ngModel)]="locationValue"
                    [suggestions]="filteredLocations"
                    field="name"
                    [dropdown]="true">
                </p-autoComplete>
            </div>
            <div class="col-6">
                <p-autoComplete
                    placeholder="Ordernar por"
                    class="select-search"
                    [(ngModel)]="locationValue"
                    [suggestions]="filteredLocations"
                    field="name"
                    [dropdown]="true">
                </p-autoComplete>
            </div>
        </div>
        <div class="flex justify-content-end col-12">
            <button pButton icon="pi pi-search" class="p-button-outlined"></button>
        </div>
    </div>
</div>
