<div class="footer">
    <div class="header">
        <img src="path_to_logo" class="logo" />
    </div>
    <div class="main-content">
        <div class="flex flex-column gap-2-em">
            <h3>Contacto</h3>
            <a href="#"><i class="pi pi-envelope"></i> <span class="link_footer"> Email@example.com</span></a>
            <a href="#"><i class="pi pi-map-marker"></i> <span class="link_footer"> Cusco, Peru</span></a>
        </div>
        <div class="flex flex-column gap-2-em">
            <h3>Sobre nosotros</h3>
            <a href="#"><span class="link_footer">Quiénes somos</span></a>
            <a href="#"><span class="link_footer">Blog</span></a>
            <a href="#"><span class="link_footer">Trabaja con nosotros</span></a>
        </div>
        <div class="flex flex-column gap-2-em">
            <h3>Acciones</h3>
            <a href="#"><span class="link_footer">Vender</span></a>
            <a href="#"><span class="link_footer">Comprar</span></a>
            <a href="#"><span class="link_footer">Beneficios</span></a>
        </div>
        <div class="flex flex-column gap-2-em">
            <h3>Organización</h3>
            <a href="#"><span class="link_footer">Blog</span></a>
            <a href="#"><span class="link_footer">Soy Agente</span></a>
            <a href="#"><span class="link_footer">Acerca de nosotros</span></a>
            <a href="#"><span class="link_footer">Contáctanos</span></a>
        </div>
    </div>
    <div class="footer-content">
        <p class="mb-0">© 2023 Housematch, Todos los derechos reservados</p>
        <div class="social-icons">
            <a href="#"> <i class="pi pi-facebook"></i> </a>
            <a href="#"> <i class="pi pi-instagram"></i> </a>
            <a href="#"> <i class="pi pi-linkedin"></i> </a>
            <a href="#"> <i class="pi pi-twitter"></i> </a>
        </div>
    </div>
</div>
