<div class="col-12 flex">
    <div class="col-4">
        <h1>HouseMatch</h1>
        <h4>© 2023</h4>
    </div>
    <div class="col-4 flex justify-content-between">
        <div class="col-4 flex flex-column">
            <a>Home</a>
            <a>Shop</a>
            <a>About</a>
        </div>
        <div class="col-4 flex flex-column">
            <a>Contact</a>
            <a>Terms</a>
            <a>Privacy</a>
        </div>
        <div class="col-4 flex flex-column">
            <a>Instagram</a>
            <a>TikTok</a>
            <a>Facebook</a>
        </div>
    </div>
    <div class="col-4">
        <div class="flex align-items-center pb-4">
            <i class="pi pi-whatsapp pr-2" style="font-size: 2rem"></i>
            <h5 class="m-0">Escribenos en cualquier momento</h5>
        </div>
        <span class="tel">+51 984 234 721</span>
    </div>
</div>
