.tel {
    width: fit-content;
    display: flex;
    border: solid 1px #ff8a84;
    border-radius: 5rem;
    padding: 8px 14px;
    font-size: 2rem;
}
a {
    cursor: pointer;
    width: fit-content;
}
