<div class="card_comparator flex" style="position: relative">
    <i class="pi pi-times" style="position: absolute; right: 8px; top: 8px"></i>
    <div class="col-4 p-2" style="height: 90px">
        <!-- img -->
        <img
            width="100%"
            style="border-radius: 15px; object-fit: cover; height: 100%"
            src="https://via.placeholder.com/150"
            alt="img" />
    </div>
    <div class="col-8 px-2 py-1">
        <app-icon-text icon="pi pi-map-marker" text="Pueblo Libre, Lima"></app-icon-text>
        <p class="pt-2 m-0 font_card">Departamento de 200m2</p>
        <p class="text-primary pt-2 m-0 font_card">$ 152,000</p>
    </div>
</div>
