::ng-deep .p-select-vertical > .p-selectbutton > .p-buttonset {
    border-right: 1px solid rgb(48, 69, 98) !important;
}
.p-select-vertical > .p-selectbutton {
    flex-direction: column !important;
    justify-content: center !important;
}
