<div class="px-8">
    <div
        style="
            height: 20em;
            width: 100%;
            background-image: url('/assets/layout/images/crear-inmuebles-1.png');
            background-position: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        ">
        <div style="display: flex; flex-direction: column; align-items: center">
            <h1>¿Eres agente inmobiliario?</h1>
            <button pButton pRipple label="SÚMATE A HOUSEMATCH"></button>
            <p>
                Con House match podrás crear tu propia red de agentes, con los cuales trabajarás tus propiedades en tus
                términos y condiciones.
            </p>
        </div>
    </div>
    <hr />
    <div class="py-5">
        <h1 class="text-center">Beneficios</h1>
        <div class="col-12 flex justify-content-between align-items-center">
            <div>
                <img
                    class="img-dim"
                    style="object-fit: cover; width: 100%"
                    src="/assets/layout/images/agent-main/agent-page-1.png"
                    alt="" />
                <p class="text-center">Difusión gratuita de tus propiedades</p>
            </div>
            <div>
                <img
                    class="img-dim"
                    style="object-fit: cover; width: 100%"
                    src="/assets/layout/images/agent-main/agent-page-2.png"
                    alt="" />
                <p class="text-center">Crear tu propia red de agentes</p>
            </div>
            <div>
                <img
                    class="img-dim"
                    style="object-fit: cover; width: 100%"
                    src="/assets/layout/images/agent-main/agent-page-3.png"
                    alt="" />
                <p class="text-center">Acceso a otras propiedades</p>
            </div>
            <div>
                <img
                    class="img-dim"
                    style="object-fit: cover; width: 100%"
                    src="/assets/layout/images/agent-main/agent-page-4.png"
                    alt="" />
                <p class="text-center">Tasación aproximada</p>
            </div>
            <div>
                <img
                    class="img-dim"
                    style="object-fit: cover; width: 100%"
                    src="/assets/layout/images/agent-main/agent-page-5.png"
                    alt="" />
                <p class="text-center">Asesoría legal y crediticia</p>
            </div>
        </div>
    </div>
    <hr />
</div>
<div class="py-5" style="background: #00adff">
    <div class="flex justify-content-center align-items-center">
        <img
            style="object-fit: cover; width: 80px; height: 80px"
            src="/assets/layout/images/agent-main/check.svg"
            alt="" />
        <h1 class="m-0 pl-3">¡Ganamos cuando tú ganas!</h1>
    </div>
</div>
<div class="px-4 py-8 flex align-items-center">
    <div class="col-6 flex justify-content-center">
        <img style="object-fit: cover; width: 35em" src="/assets/layout/images/agent-main/agent-girl.png" alt="" />
    </div>
    <div class="col-6">
        <h3 class="text-center pb-4">¿Por que elegirnos?</h3>
        <div class="flex justify-content-around align-items-center pb-4">
            <i class="pi pi-user" style="font-size: 3rem"></i>
            <div style="flex-grow: 1" class="pl-4">
                <p><strong> Tu eliges que propiedades trabajar con agentes </strong></p>
                <p>Tendrás el control total de tu negocio</p>
            </div>
        </div>
        <div class="flex justify-content-around align-items-center pb-4">
            <i class="pi pi-sliders-v" style="font-size: 3rem"></i>
            <div style="flex-grow: 1" class="pl-4">
                <p><strong> Utilizamos tecnología en todo el proceso </strong></p>
                <p>Los clientes verán las propiedades que realmente le pueden interesar</p>
            </div>
        </div>
        <div class="flex justify-content-around align-items-center pb-4">
            <i class="pi pi-tag" style="font-size: 3rem"></i>
            <div style="flex-grow: 1" class="pl-4">
                <p><strong> Somos expertos en marketing digital </strong></p>
                <p>Analizamos donde se encuentran tus potenciales clientes</p>
            </div>
        </div>
    </div>
</div>
