<div>
    <div class="flex justify-content-between">
        <h5>Hemos encontrado 40 departamentos para ti</h5>
        <div class="flex" style="gap: 4px">
            <button
                pButton
                pRipple
                icon="pi pi-map-marker"
                [iconPos]="'left'"
                type="button"
                label="Ver en el mapa"
                class="p-button-raised px-4 flex justify-content-center"></button>
            <p-dropdown
                [options]="[]"
                [(ngModel)]="orderBySelectValue"
                placeholder="Ordenar por"
                [showClear]="true"></p-dropdown>
        </div>
    </div>
    <ng-container *ngFor="let item of [0, 0, 0, 0, 0]">
        <app-item-card (compareItem)="compare.emit()"></app-item-card>
    </ng-container>
</div>
