<div class="py-8" style="padding: 0 16rem">
    <div class="container">
        <img src="https://via.placeholder.com/400" alt="imagen grande" class="big-image" />
        <img src="https://via.placeholder.com/400" alt="imagen 1" class="other-images" />
        <img src="https://via.placeholder.com/400" alt="imagen 2" class="other-images" />
        <img src="https://via.placeholder.com/400" alt="imagen 3" class="other-images" />
        <img src="https://via.placeholder.com/400" alt="imagen 4" class="other-images" />
    </div>

    <div class="pt-4 flex">
        <div class="col-8">
            <h1>Departamento de 200m2 - The Classic, Pueblo Libre</h1>
            <div class="flex" style="gap: 16px">
                <app-icon-text icon="pi pi-map-marker" text="Pueblo Libre, Lima"></app-icon-text>
                <div class="card__icon-text">
                    <i class="pi pi-user"></i>
                    <span> Vendido por <strong>Inversion Vega</strong></span>
                </div>
            </div>
            <div class="mt-4">
                <p-tabView orientation="left">
                    <p-tabPanel header="Descripcion" class="line-height-3 m-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.
                        <p>Tu proximo hogar tendra:</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Lorem ipsum dolor sit amet</li>
                        </ul>
                    </p-tabPanel>
                    <p-tabPanel header="Detalles" class="line-height-3 m-0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        Consectetur, adipisci velit, sed quia non numquam eius modi.
                    </p-tabPanel>
                    <p-tabPanel header="Mapa" class="line-height-3 m-0">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                        provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                        dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                        soluta nobis est eligendi optio cumque nihil impedit quo minus.
                    </p-tabPanel>
                    <p-tabPanel header="Recorrido virtual" class="line-height-3 m-0">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                        provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                        dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                        soluta nobis est eligendi optio cumque nihil impedit quo minus.
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-0 p-4" style="background-color: #e8edf5; border-color: #3473d5">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <h5 class="block font-medium mb-3">Precio Total</h5>
                        <h3 class="text-primary">USD$ 152.100</h3>
                    </div>
                    <div
                        class="flex align-items-center justify-content-center bg-orange-100 border-round"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }">
                        <i class="pi pi-dollar text-orange-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-500 font-medium">Precio m2</div>
                <div style="font-weight: 700; color: rgb(43, 42, 105)">USD$ 2,556</div>
            </div>
            <div class="card mb-0 mt-4 p-4" style="background-color: #f9f2ea; border-color: #ffa03f">
                <div class="flex justify-content-center mb-3">
                    <div>
                        <h4 class="block font-medium mb-3 tex-center">Que desea realizar?</h4>
                    </div>
                </div>
                <div>
                    <!-- Radio buttons -->
                    <div class="flex justify-content-between mb-3 flex-column">
                        <div>
                            <div class="field-radiobutton">
                                <p-radioButton name="city" value="1" [(ngModel)]="valRadio" id="city1"></p-radioButton>
                                <label for="city1">Asesor personal gratis</label>
                            </div>
                        </div>
                        <div>
                            <div class="field-radiobutton">
                                <p-radioButton name="city" value="2" [(ngModel)]="valRadio" id="city1"></p-radioButton>
                                <label for="city1">Quiero un credito para este inmueble</label>
                            </div>
                        </div>
                        <div>
                            <div class="field-radiobutton">
                                <p-radioButton name="city" value="3" [(ngModel)]="valRadio" id="city1"></p-radioButton>
                                <label for="city1">Quiero mas informacion</label>
                            </div>
                        </div>
                        <div>
                            <div class="field-radiobutton">
                                <p-radioButton name="city" value="4" [(ngModel)]="valRadio" id="city1"></p-radioButton>
                                <label for="city1">Reservar este inmueble</label>
                            </div>
                        </div>
                        <div>
                            <div class="field-radiobutton">
                                <p-radioButton name="city" value="5" [(ngModel)]="valRadio" id="city1"></p-radioButton>
                                <label for="city1">Quiero llamar ahora mismo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-8">
    <h2 class="pl-8">Otras propiedades que podrian interesarte</h2>
    <app-carousel-house-match></app-carousel-house-match>
</div>
<app-agent-create-profile></app-agent-create-profile>
