<div style="padding: 0 20em">
    <div class="flex align-items-center">
        <div class="col-6 flex justify-content-center">
            <img style="object-fit: cover; width: 400px" src="/assets/layout/images/vista3d.jpg" alt="" />
        </div>
        <div class="col-6 text-center">
            <h2>Quiero vender</h2>
            <p>
                En Housematch tenemos dos maneras de que vendas tu propiedad, haciendo uso de la tecnologia exclusiva de
                housematch o a tra vez de los mejores agentes inmobiliarios de tu ciudad, que tu mismo los podras elegir
            </p>
            <button pButton pRipple type="button" label="Conocer más"></button>
        </div>
    </div>
    <div class="flex align-items-center">
        <div class="col-6 text-center">
            <h2>Quiero Comprar</h2>
            <p>
                Todos los inmuebles publicados en Housematch son tasadas por nuestra tecnologia, asi no pagaras demas.
                Ademas contaras con fotos y videos del inmueble asi como una vista por drone de la zona donde elijas
                vivir. Si buscas un inmueble con caracteristicas especificas podras publicar tu pedido y esto llegara a
                toda la base de datos de los agentes con los que contamos
            </p>
            <button pButton pRipple type="button" label="Conocer más"></button>
        </div>

        <div class="col-6 flex justify-content-center">
            <img style="object-fit: cover; width: 400px" src="/assets/layout/images/vista3d.jpg" alt="" />
        </div>
    </div>
</div>
