<div class="col-12 p-0">
    <div class="card">
        <h5>Frozen Columns</h5>

        <div>
            <button
                pButton
                icon="pi pi-plus"
                label="Add User"
                (click)="onOpenDialogRole()"
                class="p-button-outlined"></button>
        </div>
        <p-table
            [value]="users"
            scrollDirection="both"
            [scrollable]="true"
            scrollHeight="100%"
            styleClass="mt-3"
            responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 200px">Nombre</th>
                    <th style="width: 200px">Apellido paterno</th>
                    <th style="width: 200px">Apellido materno</th>
                    <th style="width: 200px">Género</th>
                    <th style="width: 200px">Username</th>
                    <th style="width: 200px">Email</th>
                    <th style="width: 200px">Roles</th>
                    <th style="width: 200px">Tema</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
