<div class="flex justify-content-between align-items-center">
    <span>{{ title }}</span>
    <span class="flex align-items-center" style="gap: 16px">
        <button
            pButton
            [style]="{ width: '2rem', height: '2rem' }"
            pRipple
            type="button"
            icon="pi pi-minus"
            class="p-button-rounded p-button-outlined"></button>
        <span>{{ value }}</span>
        <button
            [style]="{ width: '2rem', height: '2rem' }"
            pButton
            pRipple
            type="button"
            icon="pi pi-plus"
            class="p-button-rounded p-button-outlined"></button>
    </span>
</div>
