<div class="py-4">
    <h1 class="text-center">Te acompañamos en el todo el proceso</h1>
    <div class="col-12 flex justify-content-center align-items-center">
        <div>
            <img
                style="object-fit: cover; width: 100%"
                src="/assets/layout/images/house-match-home/1-search-g.gif"
                alt="" />
            <h1 class="text-center">BUSCA</h1>
        </div>
        <div>
            <img
                style="object-fit: cover; width: 100%"
                src="/assets/layout/images/house-match-home/2-encuentra-g.gif"
                alt="" />
            <h1 class="text-center">ENCUENTRA</h1>
        </div>
        <div>
            <img
                style="object-fit: cover; width: 100%"
                src="/assets/layout/images/house-match-home/3-radio-g.gif"
                alt="" />
            <h1 class="text-center">COMPRA</h1>
        </div>
        <div>
            <img
                style="object-fit: cover; width: 100%"
                src="/assets/layout/images/house-match-home/4-house-g.gif"
                alt="" />
            <h1 class="text-center">DISFRUTA</h1>
        </div>
    </div>
</div>
<div class="mb-4 flex justify-content-center align-items-center" style="padding: 0 8em">
    <div
        style="background: rgb(255, 138, 132); border-radius: 25px"
        class="col-6 flex justify-content-between p-4 mr-6">
        <div
            style="flex-grow: 1; display: flex; align-items: center; justify-content: center; flex-direction: column"
            class="text-center">
            <h3>Mercado inmobiliario</h3>
            <p>Conoce el valor de tu inmueble</p>
        </div>
        <div>
            <img
                style="object-fit: cover; width: 100%; height: 170px"
                src="/assets/layout/images/house-match-home/mercado-inmob.png"
                alt="" />
        </div>
    </div>
    <div style="background: rgb(255, 138, 132); border-radius: 25px" class="col-6 flex justify-content-between p-4">
        <div
            style="flex-grow: 1; display: flex; align-items: center; justify-content: center; flex-direction: column"
            class="text-center">
            <h3>Busca tu inmueble por zonas</h3>
            <p>Elige el barrio donde quisieras vivir</p>
        </div>
        <div>
            <img
                style="object-fit: cover; width: 100%; height: 170px"
                src="/assets/layout/images/house-match-home/busca-tu-inm.png"
                alt="" />
        </div>
    </div>
</div>
<div class="mb-4 text-center" style="padding: 0 8em">
    <h1>¿Eres agente inmobiliario?</h1>
    <h2>Crea una cuenta y empieza a conectar con más</h2>
    <button pButton pRipple type="button" style="font-size: 30px" label="CREAR MI PERFIL DE AGENTE"></button>
</div>
