<div class="py-4">
    <h1 class="text-center home_title">Te acompañamos en el todo el proceso</h1>
    <h5 class="text-center">Tu socio en el camino hacia tu nuevo hogar: ¡Acompañandote en cada paso!</h5>
    <div class="col-12 flex justify-content-center align-items-center" style="padding: 4rem 25rem">
        <div *ngFor="let item of items" class="flex flex-column justify-content-center align-items-center">
            <img class="img_home_process" [src]="item.url" alt="" />
            <h4>{{ item.title }}</h4>
            <p>Lorem ipsum dolor sit amet</p>
        </div>
    </div>
</div>
<!-- <div class="mb-4 flex justify-content-center align-items-center" style="padding: 0 8em">
    <div
        style="background: rgb(255, 138, 132); border-radius: 25px"
        class="col-6 flex justify-content-between p-4 mr-6">
        <div
            style="flex-grow: 1; display: flex; align-items: center; justify-content: center; flex-direction: column"
            class="text-center">
            <h3>Mercado inmobiliario</h3>
            <p>Conoce el valor de tu inmueble</p>
        </div>
        <div>
            <img
                style="object-fit: cover; width: 100%; height: 170px"
                src="assets/layout/images/house-match-home/mercado-inmob.png"
                alt="" />
        </div>
    </div>
    <div style="background: rgb(255, 138, 132); border-radius: 25px" class="col-6 flex justify-content-between p-4">
        <div
            style="flex-grow: 1; display: flex; align-items: center; justify-content: center; flex-direction: column"
            class="text-center">
            <h3>Busca tu inmueble por zonas</h3>
            <p>Elige el barrio donde quisieras vivir</p>
        </div>
        <div>
            <img
                style="object-fit: cover; width: 100%; height: 170px"
                src="assets/layout/images/house-match-home/busca-tu-inm.png"
                alt="" />
        </div>
    </div>
</div>
<div class="mb-4 text-center" style="padding: 0 8em">
    <h1>¿Eres agente inmobiliario?</h1>
    <h2>Crea una cuenta y empieza a conectar con más</h2>
    <button pButton pRipple type="button" style="font-size: 30px" label="CREAR MI PERFIL DE AGENTE"></button>
</div> -->
