<div>
    <div
        style="
            height: calc(100vh - 5rem);
            width: 100%;
            background-image: url('assets/layout/images/crear-inmuebles-1.png');
            background-position: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            position: relative;
            padding: 0 30rem;
            text-align: center;
        ">
        <div class="flex flex-column align-items-center justify-content-center h-100 gap-10-em">
            <h1 class="text-white fs-4-em">Tu decides como vender o comprar tu inmueble</h1>
            <p class="text-white" style="font-size: 1.5em">
                Nuestra tecnologia y los mejores expertos del mercado lo harán por ti
            </p>

            <div class="w-100">
                <div class="pb-2">
                    <p-selectButton [options]="buySellOpts" [(ngModel)]="selectedOpt"></p-selectButton>
                </div>
                <div class="card-searcher-home flex justify-content-center" style="gap: 10px">
                    <div style="flex: 2 1 auto">
                        <p-dropdown
                            [style]="{ width: '100%' }"
                            [options]="propertyType"
                            [(ngModel)]="selectedType"
                            placeholder="Tipo de inmueble"></p-dropdown>
                    </div>
                    <div>
                        <!-- line vertical, divider -->
                        <div style="height: 100%; width: 1px; background-color: #757575"></div>
                    </div>
                    <div style="flex: 2 1 auto">
                        <p-autoComplete
                            [style]="{ width: '100%' }"
                            [(ngModel)]="locationValue"
                            [suggestions]="filteredCountries"
                            (completeMethod)="filterLocation($event)"
                            field="name"
                            [dropdown]="true">
                        </p-autoComplete>
                    </div>
                    <div style="flex: 1 1 auto">
                        <button
                            pButton
                            pRipple
                            icon="pi pi-search"
                            type="button"
                            label="Buscar"
                            class="p-button-raised px-4"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Last properties section -->
    <div class="py-8">
        <h1 class="text-center text-primary home_title">Ultimas Propiedades</h1>
        <p class="text-center text-primary">Encuentra tu espacio perfecto, las ultimas propiedades en venta</p>
        <app-carousel-house-match></app-carousel-house-match>
    </div>
    <div class="pb-8 pt-8">
        <app-show-media-section></app-show-media-section>
    </div>
    <div class="pb-8 pt-8">
        <app-info-sell-buy></app-info-sell-buy>
    </div>
    <div class="pb-8 pt-8">
        <app-keeping-section></app-keeping-section>
    </div>
    <div style="border-top: 1px dashed #a7a7a7" class="pt-8"></div>
    <div class="pb-8 pt-8" style="padding: 0 20rem">
        <app-carousel-about-more></app-carousel-about-more>
    </div>
    <div class="pt-8">
        <app-agent-create-profile></app-agent-create-profile>
    </div>
</div>
