<div class="layout-wrapper" [ngClass]="containerClass">
    <app-header-house-match></app-header-house-match>
    <div class="layout-main-container px-0 mx-0 pb-0">
        <div class="layout-main">
            <!-- <div style="height: 100%; max-height: calc(100vh - 12em); overflow: auto"> -->
            <div style="height: 100%">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer-house-match></app-footer-house-match>
    </div>
    <!-- <div class="layout-mask"></div> -->
</div>
